In [1]:
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Namibe,AO,2021-04-11 15:59:05,-15.1961,12.1522,87.80,62,40,16.11
1,1,Mar Del Plata,AR,2021-04-11 15:59:05,-38.0023,-57.5575,64.99,72,75,14.97
2,2,Butaritari,KI,2021-04-11 15:59:05,3.0707,172.7902,80.96,77,56,9.57
3,3,Longyearbyen,SJ,2021-04-11 15:59:06,78.2186,15.6401,17.60,62,75,16.11
4,4,Esil,KZ,2021-04-11 15:59:06,51.9556,66.4042,30.52,90,0,7.38
...,...,...,...,...,...,...,...,...,...,...
559,559,Moissala,TD,2021-04-11 16:01:55,8.3404,17.7663,103.59,12,86,5.59
560,560,Olafsvik,IS,2021-04-11 16:01:56,64.8945,-23.7142,36.57,98,100,16.80
561,561,Colac,AU,2021-04-11 16:01:56,-38.3333,143.5833,46.99,1,52,5.99
562,562,Paamiut,GL,2021-04-11 16:01:57,61.9940,-49.6678,35.01,78,8,10.78
563,563,Taldan,RU,2021-04-11 16:01:57,53.6667,124.8000,11.41,85,93,0.85

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
gmaps.configure(api_key=g_key)

In [5]:
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))